link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
script(src='//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')

head
    link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')
    link(rel="stylesheet", href="../../public/stylesheets/login.css")

body#LoginForm
    .container
        .login-form
            .main-div
                .panel
                    if info && info.message
                        .alert.alert-danger
                            = info.message
                        
                    h2 Admin Login
                    p Por Favor ingrese su email y password

                form#Login(action='/login' method='post')
                    .form-group
                        input#username.form-control(type='email' placeholder='Email Adress' name='email')
                    .form-group
                        input#password.form-control(type='password' placeholder='Password' name='password')
                    .forgot
                        a(href='/forgotPassword') Olvidé mi password

                    button.btn.btn-pimary(type='submit') Login

                    